<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Security Chain</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h3>Transaction</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            Transaction created with ID : {{ .id }}
        </div>
    </div>
</div>
</body>
</html>